<!DOCTYPE html>
<html lang="en" class="theme-auto">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>reallukee ~ projects</title>

  <meta name="theme-color" content="#111111" />

  <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />

  <!-- TermCSS -->
  <link rel="stylesheet" type="text/css" href="./styles/termcss.css" />
  <script type="module" src="./scripts/termcss.js"></script>

  <!-- Languages -->
  <link rel="stylesheet" type="text/css" href="./styles/languages.css" />

  <!-- Theme -->
  <script src="./scripts/theme.js"></script>

  <!-- EJS -->
  <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.10/ejs.min.js"></script>

  <link rel="manifest" type="webmanifest" href="./site.webmanifest" />
</head>
<body>
  <!-- Page Begin -->
  <main id="termcss" class="container-v g-5 my-3 py-3 mo-m-1 mo-p-1">

    <!-- Header Begin -->
    <header class="container-v g-3">

      <!-- Title Begin -->
      <div class="section-title">
        <a href="./">
          <div class="section-content">
            reallukee.github.io
          </div>
        </a>
      </div>
      <!-- Title End -->

      <!-- Navbar Begin -->
      <nav class="container-h g-1">
        <p class="text">
          <a href="./about.html" class="link">
            about
          </a>
        </p>

        <p class="text">
          <a href="./projects.html" class="link active">
            projects
          </a>
        </p>

        <p class="text">
          <a href="./contacts.html" class="link">
            contacts
          </a>
        </p>
      </nav>
      <!-- Navbar End -->

    </header>
    <!-- Header End -->

    <!-- Main Begin -->
    <section class="container-v g-3">
      <header class="section-subtitle">
        <a href="#projects" id="projects">
          <div class="section-content">
            projects
          </div>
        </a>
      </header>

      <div class="container-v g-1">
        <div class="button">
          <a href="./projects.html">
            <div class="button-content">
              reset search
            </div>
          </a>
        </div>
      </div>

      <div class="container-v g-3" id="projectsContent">
        <p class="text-highlight">
          <span>
            Loading...
          </span>
        </p>
      </div>
    </section>
    <!-- Main End -->

    <!-- Main Template Begin -->
    <script type="text/template" id="projectsTemplate">
      <% if (locals.projects) { %>
        <% if (locals.projects.length == 0) { %>
          <p class="text-highlight">
            <span>
              Not Found
            </span>
          </p>
        <% } %>
      <% } %>

      <% locals.projects.forEach((project) => { %>
        <div class="list-item">
          <div class="list-item-content">

            <div class="container-h g-1">
              <p class="text">
                <a href="#<%= project.id; %>" id="<%= project.id; %>">
                  <span class="title">
                    <%= project.name; %>
                  </span>
                </a>
              </p>

              <p class="text">
                <a href="?license=<%= project.license; %>" class="no-underline">
                  <span class="fw-light">
                    <%= project.license; %>
                  </span>
                </a>
              </p>
            </div>

            <div class="container-h g-1">
              <% project.languages.forEach((language) => { %>
                <p class="text">
                  <a href="?language=<%= language.id; %>" class="no-underline">
                    <span class="language <%= language.id; %>">
                      <%= language.name; %>
                    </span>
                  </a>
                </p>
              <% }); %>
            </div>

            <div class="container-h g-1">
              <% project.tags.forEach((tag) => { %>
                <p class="text-highlight">
                  <a href="?tag=<%= tag.id; %>">
                    <span class="fs-italic">
                      <%= tag.name; %>
                    </span>
                  </a>
                </p>
              <% }); %>
            </div>

            <div class="container-v g-1">
              <p class="text">
                <% project.description.forEach((line) => { %>
                  <span class="line"><%= line; %></span>
                <% }); %>
              </p>
            </div>

            <div class="container-v g-1">
              <div class="button">
                <a href="./project.html?project=<%= project.id; %>">
                  <div class="button-content">
                    Project
                  </div>
                </a>
              </div>

              <div class="button">
                <a href="<%= project.repository; %>" target="_blank">
                  <div class="button-content">
                    GitHub
                  </div>
                </a>
              </div>

              <% project.buttons.forEach((button) => { %>
                <div class="button">
                  <a href="<%= button.url; %>" target="_blank">
                    <div class="button-content">
                      <%= button.name; %>
                    </div>
                  </a>
                </div>
              <% }); %>
            </div>

          </div>
        </div>
      <% }); %>
    </script>
    <!-- Main Template End -->

    <div class="my-0"></div>

    <!-- Footer Begin -->
    <footer class="container-v g-3">
      <div class="container-v g-1">
        <p class="text">
          made with my hands &lt;3
        </p>

        <div class="button">
          Me!!!

          <a href="https://github.com/reallukee" target="_blank">
            <div class="button-content">
              GitHub
            </div>
          </a>
        </div>

        <div class="button">
          Repository!!!

          <a href="https://github.com/reallukee/reallukee.github.io" target="_blank">
            <div class="button-content">
              GitHub
            </div>
          </a>
        </div>
      </div>

      <div class="container-v g-1">
        <nav class="container-h g-1">
          <p class="text">
            theme:
          </p>

          <p class="text">
            <a href="#theme" class="link active" id="autoTheme">
              auto
            </a>
          </p>

          <p class="text">
            <a href="#theme" class="link" id="lightTheme">
              light
            </a>
          </p>

          <p class="text">
            <a href="#theme" class="link" id="darkTheme">
              dark
            </a>
          </p>
        </nav>
      </div>

      <div class="container-v g-1">
        <p class="text">
          <a href="#" class="link">
            top ^
          </a>
        </p>
      </div>
    </footer>
    <!-- Footer End -->

  </main>
  <!-- Page End -->

  <noscript>JavaScript is required :(!</noscript>

  <script src="./scripts/projects.js"></script>
</body>
</html>
