<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>reallukee ~ projects</title>

  <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" type="text/css" href="./assets/styles/termcss.css" />
  <script type="module" src="./assets/scripts/termcss.js"></script>

  <link rel="stylesheet" type="text/css" href="./assets/styles/language.css" />

  <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.10/ejs.min.js"></script>
</head>
<body>
  <main id="termcss" class="container-v my-3 py-3 g-5">

    <!--
      Header Begin
    -->
    <header class="container-v g-3">

      <!--
        Title Begin
      -->
      <div class="section-title">
        <a href="./">
          <div class="section-content">
            + reallukee.github.io +
          </div>
        </a>
      </div>
      <!--
        Title End
      -->

      <!--
        Navnar Begin
      -->
      <nav class="container-h g-1">
        <p class="text">
          <a href="./about.html" class="link">
            about
          </a>
        </p>

        <p class="text">
          <a href="./projects.html" class="link active">
            projects
          </a>
        </p>

        <p class="text">
          <a href="./contacts.html" class="link">
            contacts
          </a>
        </p>
      </nav>
      <!--
        Navbar End
      -->

    </header>
    <!--
      Header End
    -->

    <!--
      Main Begin
    -->
    <main class="container-v g-3">
      <header class="section-subtitle">
        <a href="#projects" id="projects">
          <div class="section-content">
            + projects +
          </div>
        </a>
      </header>

      <div class="container-v g-3" id="projectContent"></div>

      <script type="text/template" id="projectTemplate">
        <% locals.projects.forEach((project) => { %>
          <div class="list-item">
            <div class="list-item-content">

              <div class="container-h">
                <p class="text">
                  <a href="#<%= project.id; %>" id="<%= project.id; %>">
                    <span class="title"><%= project.title; %></span>
                  </a>
                </p>
              </div>

              <div class="container-h">
                <p class="text">
                  <span class="language <%= project.languageId; %>">
                    <a href="?language=<%= project.language; %>">
                      <span class="subtitle"><%= project.language; %></span>
                    </a>
                  </span>
                </p>
              </div>

              <div class="container-h">
                <% project.tags.forEach((tag) => { %>
                  <p class="text-highlight">
                    <a href="?tag=<%= tag; %>">
                      <span class="italic"><%= tag; %></span>
                    </a>
                  </p>
                <% }); %>
              </div>

              <div class="container-v">
                <p class="text">
                  <% project.description.forEach((line) => { %>
                    <span><%= line; %></span>
                  <% }); %>
                </p>
              </div>

              <div class="container-v">
                <% project.buttons.forEach((button) => { %>
                  <div class="button">
                    <div class="button-content">
                      <a href="<%= button.url; %>" target="_blank">
                        <%= button.name; %>
                      </a>
                    </div>
                  </div>
                <% }); %>
              </div>

            </div>
          </div>
        <% }); %>
      </script>
    </main>
    <!--
      Main End
    -->

    <div class="my-0"></div>

    <!--
      Footer Begin
    -->
    <footer class="container-v g-1">
      <p class="text">
        made with my hands
      </p>

      <nav class="container-h g-1">
        <p class="text">
          <a href="https://github.com/reallukee" target="_blank">
           GitHub
          </a>
        </p>
      </nav>
    </footer>
    <!--
      Footer End
    -->

  </main>

  <noscript>JavaScript is Required :(!</noscript>

  <script src="./assets/scripts/projects.js"></script>
</body>
</html>
