<!DOCTYPE html>
<html lang="en" class="theme-auto">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>reallukee ~ project</title>

  <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />

  <!-- TermCSS -->
  <link rel="stylesheet" type="text/css" href="./styles/termcss.css" />
  <script type="module" src="./scripts/termcss.js"></script>

  <!-- Languages -->
  <link rel="stylesheet" type="text/css" href="./styles/languages.css" />

  <!-- Theme -->
  <script src="./scripts/theme.js"></script>

  <!-- EJS -->
  <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.10/ejs.min.js"></script>
</head>
<body>
  <!-- Page Begin -->
  <main id="termcss" class="container-v g-5 my-3 py-3 mo-m-1 mo-p-1">

    <!-- Header Begin -->
    <header class="container-v g-3">

      <!-- Title Begin -->
      <div class="section-title">
        <a href="./">
          <div class="section-content">
            reallukee.github.io
          </div>
        </a>
      </div>
      <!-- Title End -->

      <!-- Navnar Begin -->
      <nav class="container-h g-1">
        <p class="text">
          <a href="./about.html" class="link">
            about
          </a>
        </p>

        <p class="text">
          <a href="./projects.html" class="link active">
            projects
          </a>
        </p>

        <p class="text">
          <a href="./contacts.html" class="link">
            contacts
          </a>
        </p>
      </nav>
      <!-- Navbar End -->

    </header>
    <!-- Header End -->

    <!-- Main Begin -->
    <section class="container-v g-1" id="projectContent">
      <p class="text-highlight">
        <span>
          Loading...
        </span>
      </p>
    </section>
    <!-- Main End -->

    <!-- Main Template Begin -->
    <script type="text/template" id="projectTemplate">
      <% if (locals.project) { %>
        <header class="section-subtitle">
          <a href="#<%= project.id; %>" id="<%= project.id; %>">
            <div class="section-content">
              <%= project.name; %>
            </div>
          </a>
        </header>

        <div class="container-h g-1">
          <p class="text">
            <span class="license <%= project.license; %>">
              <a href="./projects.html?license=<%= project.license; %>" class="no-underline">
                <span class="fw-light">
                  <%= project.license; %>
                </span>
              </a>
            </span>
          </p>
        </div>

        <div class="container-h g-1">
          <% project.languages.forEach((language) => { %>
            <p class="text">
              <span class="language <%= language.id; %>">
                <a href="./projects.html?language=<%= language.id; %>" class="no-underline">
                  <span class="fw-normal">
                    <%= language.name; %>
                  </span>
                </a>
              </span>
            </p>
          <% }); %>
        </div>

        <div class="container-h g-1">
          <% project.tags.forEach((tag) => { %>
            <p class="text-highlight">
              <span class="tag <%= tag.id; %>">
                <a href="./projects.html?tag=<%= tag.id; %>">
                  <span class="fs-italic">
                    <%= tag.name; %>
                  </span>
                </a>
              </span>
            </p>
          <% }); %>
        </div>

        <div class="container-v g-1">
          <p class="text">
            <% project.description.forEach((line) => { %>
              <span><%= line; %></span>
            <% }); %>
          </p>
        </div>

        <div class="container-v g-1">
          <div class="button">
            <div class="button-content">
              <a href="./project.html?project=<%= project.id; %>">
                Project
              </a>
            </div>
          </div>

          <div class="button">
            <div class="button-content">
              <a href="<%= project.repository; %>" target="_blank">
                GitHub
              </a>
            </div>
          </div>

          <% project.buttons.forEach((button) => { %>
            <div class="button">
              <div class="button-content">
                <a href="<%= button.url; %>" target="_blank">
                  <%= button.name; %>
                </a>
              </div>
            </div>
          <% }); %>
        </div>
      <% } else { %>
        <p class="text-highlight">
          <span>
            Not Found
          </span>
        </p>
      <% } %>
    </script>
    <!-- Main Template End -->

    <div class="my-0"></div>

    <!-- Footer Begin -->
    <footer class="container-v g-3">
      <div class="container-v g-1">
        <p class="text">
          made with my hands &lt;3
        </p>

        <div class="button">
          Me!!!

          <div class="button-content">
            <a href="https://github.com/reallukee" target="_blank">
              GitHub
            </a>
          </div>
        </div>

        <div class="button">
          Repository!!!

          <div class="button-content">
            <a href="https://github.com/reallukee/reallukee.github.io" target="_blank">
              GitHub
            </a>
          </div>
        </div>
      </div>

      <div class="container-v g-1">
        <!-- <p class="text">
          Current Theme:

          <a href="#theme" id="switchTheme">
            auto
          </a>
        </p> -->

        <nav class="container-h g-1">
          <p class="text">
            theme:
          </p>

          <p class="text">
            <a href="#theme" class="active" id="autoTheme">
              auto
            </a>
          </p>

          <p class="text">
            <a href="#theme" id="lightTheme">
              light
            </a>
          </p>

          <p class="text">
            <a href="#theme" id="darkTheme">
              dark
            </a>
          </p>
        </nav>
      </div>

      <div class="container-v g-1">
        <p class="text">
          <a href="#">
            top ^
          </a>
        </p>
      </div>
    </footer>
    <!-- Footer End -->

  </main>
  <!-- Page End -->

  <noscript>JavaScript is required :(!</noscript>

  <script src="./scripts/project.js"></script>
</body>
</html>
