@import url("config.css");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");



* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

*::selection {
    color: var(--body);
    background: var(--text);
}

*:focus {
    outline: none;

    display: flex;
    flex-direction: row;
    gap: 1rem;

    align-items: center;

    opacity: 0.8;
}
*:focus::before {
    content: "(";

    text-decoration: none !important;

    opacity: 0.4;
}
*:focus::after  {
    content: ")";

    text-decoration: none !important;

    opacity: 0.4;
}



::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: var(--body);
}

::-webkit-scrollbar-track:hover {
    background: var(--bodySecondary);
}

::-webkit-scrollbar-thumb {
    background: var(--text);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--textSecondary);
}



html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;

    color: var(--text);
    background: var(--body);

    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    font-style: normal;
}

a {
    color: unset;

    text-decoration: unset;
}



.button {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.button::before {
    content: "-->";

    opacity: 0.8;
}

.button > .button-content {
    opacity: 0.8;
}
.button > .button-content:hover {
    text-decoration: wavy underline;
}



.list-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.list-item::before {
    content: "*";

    opacity: 0.8;
}

.list-item > .list-item-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.list-item > .list-item-content:hover {
    opacity: 1.0;
}



.title {
    color: var(--text);
    background: var(--body);

    font-weight: bolder;
}
.title:hover {
    opacity: 0.8;

    text-decoration: wavy underline;
}



.subtitle {
    color: var(--text);
    background: var(--body);

    font-weight: lighter;

}
.subtitle:hover {
    opacity: 0.8;

    text-decoration: wavy underline;
}



.text {
    color: var(--text);
    background: var(--body);
}

.text > .line {
    display: block;
}



.text-highlight > * {
    color: var(--body);
    background: var(--text);
}

.text-highlight > .line {
    display: block;
}



.text a,
.text .link {
    color: var(--textSecondary);

    text-decoration: wavy underline;
}

.text a.active,
.text .link.active {
    opacity: 0.8;
}

.text a:hover,
.text .link:hover {
    opacity: 0.8;

    text-decoration: wavy underline;
}

.text a.no-underline,
.text .link.no-underline {
    text-decoration: none;
}



.text-highlight > * a,
.text-highlight > * .link {
    color: var(--bodySecondary);
    background: var(--textSecondary);
}

.text-highlight > * a.active,
.text-highlight > * .link.active {
    opacity: 0.8;
}

.text-highlight > * a:hover,
.text-highlight > * .link:hover {
    color: var(--textSecondary);
    background: var(--bodySecondary);

    opacity: 0.8;
}

.text-highlight > * a.no-underline,
.text-highlight > * .link.no-underline {
    text-decoration: none;
}



.text .fs-italic,
.text-highlight .fs-italic {
    font-style: italic;
}

.text .fs-normal,
.text-highlight .fs-normal {
    font-style: normal;
}

.text .fs-oblique,
.text-highlight .fs-oblique {
    font-style: oblique;
}



.text .fw-bold,
.text-highlight .fw-bold {
    font-weight: bolder;
}

.text .fw-normal,
.text-highlight .fw-normal {
    font-weight: normal;
}

.text .fw-light,
.text-highlight .fw-light {
    font-weight: lighter;
}



.text .ft-monospace,
.text-highlight .ft-monospace {
    font-family: monospace;
}



.title.align-left,
.subtitle.align-left,
.text.align-left,
.text-highlight.align-left {
    text-align: left;
}

.title.align-center,
.subtitle.align-center,
.text.align-center,
.text-highlight.align-center {
    text-align: center;
}

.title.align-right,
.subtitle.align-right,
.text.align-right,
.text-highlight.align-right {
    text-align: right;
}



.section-title > .section-content,
.section-title > a > .section-content {
    display: inline-block;

    color: var(--text);
    background: var(--body);

    font-weight: bolder;

    white-space: pre;
}



.section-subtitle > .section-content,
.section-subtitle > a > .section-content {
    display: inline-block;

    color: var(--text);
    background: var(--body);

    font-weight: lighter;

    white-space: pre;
}



.section-text > .section-content,
.section-text > a > .section-content {
    display: inline-block;

    color: var(--text);
    background: var(--body);

    font-weight: normal;

    white-space: pre;
}



.section-title > .section-content:hover,
.section-title > a > .section-content:hover,
.section-subtitle > .section-content:hover,
.section-subtitle > a > .section-content:hover,
.section-text > .section-content:hover,
.section-text > a > .section-content:hover {
    opacity: 0.8;
}



.section-content.align-left { text-align: left; }
.section-content.align-center { text-align: center; }
.section-content.align-right { text-align: right; }



.o-0 { opacity: 0.0; }
.o-1 { opacity: 0.2; }
.o-1 { opacity: 0.4; }
.o-3 { opacity: 0.6; }
.o-4 { opacity: 0.8; }
.o-5 { opacity: 1.0; }



.text-body { color: var(--body); }
.text-text { color: var(--text); }
.text-body-secondary { color: var(--bodySecondary); }
.text-text-secondary { color: var(--textSecondary); }

.body-body { background: var(--body); }
.body-text { background: var(--text); }
.body-body-secondary { background: var(--bodySecondary); }
.body-text-secondary { background: var(--textSecondary); }



.text-black { color: var(--black) !important; }
.text-red { color: var(--red) !important; }
.text-green { color: var(--green) !important; }
.text-yellow { color: var(--yellow) !important; }
.text-blue { color: var(--blue) !important; }
.text-magenta { color: var(--magenta) !important; }
.text-cyan { color: var(--cyan) !important; }
.text-white { color: var(--white) !important; }
.text-bright-black { color: var(--bright-black) !important; }
.text-bright-red { color: var(--bright-red) !important; }
.text-bright-green { color: var(--bright-green) !important; }
.text-bright-yellow { color: var(--bright-yellow) !important; }
.text-bright-blue { color: var(--bright-blue) !important; }
.text-bright-magenta { color: var(--bright-magenta) !important; }
.text-bright-cyan { color: var(--bright-cyan) !important; }
.text-bright-white { color: var(--bright-white) !important; }

.body-black { background: var(--black); }
.body-red { background: var(--red); }
.body-green { background: var(--green); }
.body-yellow { background: var(--yellow); }
.body-blue { background: var(--blue); }
.body-magenta { background: var(--magenta); }
.body-cyan { background: var(--cyan); }
.body-white { background: var(--white); }
.body-bright-black { background: var(--bright-black); }
.body-bright-red { background: var(--bright-red); }
.body-bright-green { background: var(--bright-green); }
.body-bright-yellow { background: var(--bright-yellow); }
.body-bright-blue { background: var(--bright-blue); }
.body-bright-magenta { background: var(--bright-magenta); }
.body-bright-cyan { background: var(--bright-cyan); }
.body-bright-white { background: var(--bright-white); }
