:root {
    --unknown: #EEEEEE;

    --c: #555555;
    --cpp: #F0648C;
    --makefile: #417819;
    --csharp: #198700;
    --vbnet: #965FB9;
    --fhsarp: #B946FA;
    --html: #E14B28;
    --css: #64329B;
    --javascript: #F0E15A;
    --typescript: #3278C8;
    --php: #505F96;
    --ejs: #AA1E50;
    --python: #3778A5;
    --powershell: #00235A;
    --batchfile: #C3F02D;
    --shell: #87E150;
    --vbscript: #14DCDC;
}



.language {
    color: var(--unknown);
}

.language::before {
    content: "~";

    width: .5rem;
    height: .5rem;
    margin: 0;
    padding: 0;

    display: inline-block;

    color: var(--unknown);
}



.language.c { color: var(--c); }
.language.cpp { color: var(--cpp); }
.language.makefile { color: var(--makefile); }
.language.csharp { color: var(--csharp); }
.language.vbnet { color: var(--vbnet); }
.language.fsharp { color: var(--fhsarp); }
.language.html { color: var(--html); }
.language.css { color: var(--css); }
.language.javascript { color: var(--javascript); }
.language.typescript { color: var(--typescript); }
.language.php { color: var(--php); }
.language.ejs { color: var(--ejs); }
.language.python { color: var(--python); }
.language.powershell { color: var(--powershell); }
.language.batchfile { color: var(--batchfile); }
.language.shell { color: var(--shell); }
.language.vbscript { color: var(--vbscript); }



.c.language::before { color: var(--c); }
.cpp.language::before{ color: var(--cpp); }
.makefile.language::before{ color: var(--makefile); }
.csharp.language::before { color: var(--csharp); }
.vbnet.language::before { color: var(--vbnet); }
.fsharp.language::before { color: var(--fhsarp); }
.html.language::before { color: var(--html); }
.css.language::before { color: var(--css); }
.javascript.language::before { color: var(--javascript); }
.typescript.language::before { color: var(--typescript); }
.php.language::before { color: var(--php); }
.ejs.language::before { color: var(--ejs); }
.python.language::before { color: var(--python); }
.powershell.language::before { color: var(--powershell); }
.batchfile.language::before { color: var(--batchfile); }
.shell.language::before { color: var(--shell); }
.vbscript.language::before { color: var(--vbscript); }
